* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
	margin: 0;
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

header {
	width: 100%;
	background-color: #46C3FF;
	background-color: #A7DDF7;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.msg-erro {
	color:red; 
	padding-bottom: 20px;
}

.form-cadastraraluno {
	display: block;
    width: 60%;
    height: 100px;
    margin-left: 35%;
    margin-bottom: 10%;
	
}


.form-cadastrarnota {
	display: block;
    width: 60%;
    height: 320px;
    margin-left: 35%;
    margin-bottom: 10%;
	
}



