* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-image: url('/images/VenusBackground.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: space-between;
	
}

.recepcao-home{
	margin-top: auto;
	margin-bottom: auto;
	height: auto;
	width: auto;
	background-color: white;
	border: solid color white;
	border-radius: 5px;
	padding: 15px;
}


header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #0D86AC;
}

.button-sair{
	padding: 10px;
	display: flex;
    justify-content: flex-end;
}

.btn-sair{
	border: 1px solid white;
  	padding: 2px;
  	border-radius: 5px;
	width: 60px;
	padding: 2px;
	
	
}
.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.content h2{
	font-size: 45px;
}

.msg-erro {
	color:red; 
	padding-bottom: 20px;
}

button, .btn btn-primary {
	width: 200px;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid #eee;
    border-radius: 6px;
    font-size: 18px;
    right: 20px;
    left: 50px;
}

.navbar-toggler {
	width: unset;
}

#estudantes {
	width: 49%	
}

a {
	text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(255,255,255);	
}

.navbar-light .navbar-brand {
	color: rgba(255,255,255);	
	margin: 1%;
	
}

footer {
	width: 100%;
	height: 30px;
	background: #0D86AC;
	margin-top: 20px;
}


#direitos {
	color: rgba(255,255,255);	
	text-align: center;
	top: 40%;
}

.form-cadastraraluno, .form-editar {
	position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.content-box {
	margin-top: 220px;
	margin-bottom: auto;
	width: 56%;
	min-width: 290px;
	max-width: 550px;
	background-color: #FFF;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 15px;
	box-shadow:0px 13px 40px #0000001f;
}

.content-box-notas{
	margin-top: 220px;
	margin-bottom: auto;
	width: auto;
	min-width: 290px;
	background-color: #FFF;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	box-shadow:0px 13px 40px #0000001f;
}


.content-box .row {
	display: flex;
	justify-content: center;
	width: 100%;
}

.content-box .row * {
	width: 90%;
}

.content-box .row input, #estudantes {
	width: 100%;
	margin: 0;
}


#sheyla {
	width: 200px;
	position: absolute;
	z-index: -1;
	top: 0;
}

@media (min-width: 700px) {
	.form-cadastraraluno, .form-editar {
		flex-direction: row;
	}
	
	#sheyla {
		position: unset;
	}
	
	.content-box, .content-box-notas {
		margin:unset;
	}
}

#nomeLogado{
	color: black !important;
}

.tituloSite #titulo1Header p {
	color: #FFF;
	margin: 0;
	font-family: sans-serif;
	font-size: 24px;
}
