<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Cadastro</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">		<link th:href="@{/css/style.css}" rel="stylesheet"/>
		<link th:href="@{/css/style.css}" rel="stylesheet"/>
	
	</head>
<body>

	<header th:replace="~{fragments/header :: header}"></header>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

	<form class="form-editar" th:action="@{/editar}" th:object="${estudante}" method="post">

		<div class="form-group">
			<label for="estudantes">Estudante</label>
			<select class="form-control" id="estudantes" th:field="*{id}">
				<option value="Selecione">Selecione</option>
				<option th:each="estudante : ${estudantes}" th:value="${estudante.id}" th:text="${estudante.nome}"></option>
			</select>
		</div>

		<div class="row">
			<div class="col-md-6 mb-3">
				<label class="form-label">Nome</label>
				<input type="text" class="form-control" th:field="*{nome}"/>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 mb-3">
				<label class="form-label">Data de Nascimento</label>
				<input type="date" class="form-control" th:field="*{dataNascimento}"/>
			</div>
		</div>

		<div class="text-center">
			<a th:href="@{/editar}">
				<button class="btn btn-primary">
					Salvar
				</button>
			</a>
		</div>
	</form>

	<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
